<template>
  <v-app>
    <Header v-model="expandOnHover" />
    <v-main>
      <div fluid class="page-wrapper">
        <router-view />
        <!-- <v-btn
                    bottom
                    color="success"
                    dark
                    fab
                    fixed
                    right
                    @click.stop="setCustomizerDrawer(!Customizer_drawer)"
                    >
                    <v-icon>mdi-cog</v-icon>
                </v-btn> -->
      </div>
    </v-main>
    <Sidebar :expand-on-hover.sync="expandOnHover" />
    <!-- <Customizer v-model="expandOnHover"></Customizer> -->
    <!-- <Footer v-if="Sidebar_drawer"/> -->
  </v-app>
</template>

<script>
import Header from "../header/Header.vue";
import Sidebar from "../sidebar/Sidebar.vue";
import { mapState, mapMutations } from "vuex";
export default {
  name: "Layout",

  components: {
    Header,
    Sidebar,
  },

  props: {
    source: String,
  },
  data: () => ({
    expandOnHover: false,
  }),
  computed: {
    ...mapState(["Customizer_drawer", "Sidebar_drawer"]),
  },

  methods: {
    ...mapMutations({
      setCustomizerDrawer: "SET_CUSTOMIZER_DRAWER",
    }),
    // checkAuthencationStatus() {
    //  // alert(this.$store.getters.token.token);
    //   if (this.$store.getters.token != undefined) {
    //     if(this.$store.getters.token.token==''){
    //         this.$router.push("/login");
    //     }
    //   }else{
    //       this.$router.push("/login");
    //   }
    // },
  },
  //   mounted() {
  //     this.checkAuthencationStatus();
  //   },
};
</script>
  