<template>
<v-navigation-drawer color="white elevation-1" clipped app v-model="drawer"  :expand-on-hover="expandOnHover"  v-bar  id="main-sidebar">
    <v-list expand nav class="mt-1">
        <v-list-item v-for="item in items" :key="item.title" router :to="item.router" class="items">
            <v-list-item-icon>
                <v-icon>{{ item.icon }}</v-icon>
            </v-list-item-icon>
            <v-list-item-content class="font-size:bold;">
                {{ item.title }}
            </v-list-item-content>
        </v-list-item>
        <v-spacer></v-spacer>
    </v-list>
</v-navigation-drawer>
</template>

<script>
// import { mapState } from "vuex";

export default {
    name: "Sidebar",
    props: {
         expandOnHover: {
      type: Boolean,
      default: false,
    },
    },
    data() {
        return {
            items: [{
                    title: "Events",
                    icon: "mdi-calendar-star",
                    router: "/events",
                },
                {
                    title: "History",
                    icon: "mdi-timer-settings-outline",
                    router: "/history",
                },
            ],
        }
    },
    methods: {

    },
    computed: {
         drawer: {
        drawer: {
            get() {
                return this.$store.state.drawer;
            },
            set(val) {
                this.$store.commit("SET_SIDEBAR_DRAWER", val);
            },
        },
         }
    },
    // created() {
    //     this.setSideBarTrue()
    // }
}
</script>

<style  lang="scss">
#main-sidebar {
  box-shadow: 1px 0 20px rgba(0, 0, 0, 0.08);
  -webkit-box-shadow: 1px 0 20px rgba(0, 0, 0, 0.08);
  .v-navigation-drawer__border {
    display: none;
  }
   .v-list {
    padding: 8px 8px;
  }
  .v-list-item {
    &__icon--text,
    &__icon:first-child {
      justify-content: center;
      text-align: center;
      width: 20px;
    }
  }
  .profile-bg {
    // background: url("../../../assets/images/user-info.jpg") no-repeat;
    .v-avatar {
      padding: 45px 0;
    }
  }
}
</style>
