<template>
  <div>
    <v-card elevation="2" style="margin-top:14px;">
      <table>
        <!-- <caption
              style="
            font-weight: bold;
            font-size: 30px;
            border: darken(#f8f8f8, 10%);
            box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
            background-color:#DCE775 ;
            text-transform: uppercase;
          "
            >
              {{
                item.event_name
              }}
            </caption> -->
        <thead>
          <!-- <tr class="border-bottom">
                <th scope="col"><span class="ml-2">Sl no</span></th>
                <th scope="col" class="text-left">
                </th>
                <th scope="col" class="text-left">
                  <span class="ml-2">Team leader</span>
                </th>
                <th scope="col"><span class="ml-4">View team members</span></th>
              </tr> -->
        </thead>
        <tbody>
          <tr v-for="(item,i) in arr" :key="i" class="border-bottom">
            <td >{{ i + 1 }}.</td>
            <td>{{ item.email }}</td>

            <td class="text-center mr-3">
              {{ item.confirmation }}
            </td>
            <td class="text-left">
              {{
                item.eventName.charAt(0).toUpperCase() + item.eventName.slice(1)
              }}
            </td>
            <td class="p-2">
              <!-- <template>
                <v-tooltip left>
                  <template v-slot:activator="{ on, attrs }">
                    <v-icon
                      @click="showTeamList(item)"
                      size="50"
                      v-on="on"
                      v-bind="attrs"
                      color="#464d48"
                      >mdi-account-group
                    </v-icon>
                  </template>
                  <span>Team</span>
                </v-tooltip>
              </template> -->
            </td>
          </tr>
        </tbody>
      </table>
    </v-card>
  </div>
</template>
<script>
import axios from "axios";
// import _ from "lodash";
export default {
  data() {
    return {
      arr: [],
      confirmationYes: [],
      confirmationNo: [],
    };
  },
  mounted() {
    this.getTeamConfirmation();
  },
  methods: {
    getTeamConfirmation() {
      axios
        .get("http://localhost:5000/getteam/getTeamConfirmation/")
        .then((response) => {
          // console.log("data", response)
          console.log(response.data);
          this.arr = response.data[0].confirmedteam;
          console.log(this.arr);
          //   _.reject(arr, { 'confirmation': "YES" });
          this.arr.map((ele) => {
            console.log(ele.confirmation);
            if (ele.confirmation == "YES") {
              console.log(ele);
              this.confirmationYes = ele;
            }
            if (ele.confirmation == "NO") {
              console.log(ele);
              this.confirmationNo = ele;
            }
          });
        });
    },
  },
};
</script>
<style scoped>
table {
  border-collapse: collapse;
  width: 100%;
}

table tr {
  /* border: darken(#f8f8f8, 10%); */
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  /* margin: 30px;
  height: 50px; */
}
table th,
table td {
  text-align: center;
  /* padding: 5px; */
  margin: 10px;
}
tr {
  border-spacing: 0 8px;
  /* padding: 2px;
  margin: 2px;
  height: 50px; */
}

th {
  background-color: rgb(183, 184, 182);
}
</style>
