<template>
  <div>
    <div id="app" v-if="isLoaded">
      <v-app>
        <v-layout align-center justify-space-around wrap>
          <div class="pa-3">
            <v-progress-circular
              color="primary"
              indeterminate
              :size="64"
            ></v-progress-circular>
          </div>
        </v-layout>
      </v-app>
    </div >
    <!-- <div class="d-block" style="text-align:center; padding:10px">
        <h3 color="blue" >
            Ended Events
        </h3>
    </div> -->

    <div class="eventHeading" style="margin-top:20px">
      History
    </div>
    <div>
      <template>
        <v-row style="margin-left: 20px; margin-top:10px">
          <v-col
            cols="12"
            md="4"
            sm="4"
            v-for="(item, index) in eventNames"
            :key="index"
            @click="showTeam(item)"
          >
            <template>
              <v-card
                width="344px"
                style="cursor: pointer;  border-radius:20px; padding:2px"
              >
                <v-img
                  :src="require('@/assets/' + item.event_img)"
                  class="imageRadius"
                  height="200px"
                  width="344px"
                ></v-img>

                <v-card-actions>
                  <v-icon class="mt-2 ml-6">mdi-calendar-week</v-icon
                  ><span class="mr-4 ml-4 mt-4 mb-2">{{
                    item.start_date | formatDate
                  }}</span>
                  <v-icon>mdi-arrow-collapse-right</v-icon
                  ><span class="mr-4 ml-4 mt-4 mb-2">{{
                    item.end_date | formatDate
                  }}</span>
                </v-card-actions>

                <v-card-title>
                  <div class="mx-auto">
                    {{
                      item.event_name.charAt(0).toUpperCase() +
                        item.event_name.slice(1)
                    }}
                  </div>
                </v-card-title>
              </v-card>
            </template>
          </v-col>
        </v-row>
      </template>
    </div>

    <!-- <table> -->
    <!-- <caption
              style="
            font-weight: bold;
            font-size: 30px;
            border: darken(#f8f8f8, 10%);
            box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
            background-color: #DCE775;
            text-transform: uppercase;
          "
            >
              Event Names
            </caption> -->
    <!-- <thead>
              <tr>
                <th scope="col">Sl no</th>
                <th scope="col" class="text-left">Event name</th>
                <th scope="col">Start date</th>
                <th scope="col">End date</th> -->
    <!-- <th scope="col">Team details</th> -->
    <!-- </tr>
            </thead> -->
    <!-- <tbody>
              <tr
                v-for="(item, index) in eventNames"
                :key="index"
                @click="showTeam(item)"
                style="cursor: pointer;"
              >
                <td>{{ index + 1 }}</td>
                <td class="text-left">
                  {{
                    item.event_name.charAt(0).toUpperCase() +
                      item.event_name.slice(1)
                  }}
                </td>
                <td>{{ item.start_date | formatDate }}</td>
                <td>{{ item.end_date | formatDate }}</td> -->
    <!-- <td><template>
                                <v-tooltip left>
                                    <template v-slot:activator="{ on, attrs }"> -->
    <!-- <v-btn cols="12" sm="2" md="2" color="warning" v-on="on" v-bind="attrs" @click="showTeam(item)" rounded> -->
    <!-- <v-icon v-on="on" v-bind="attrs" color="black" @click="showTeam(item)" large>mdi-eye</v-icon> -->
    <!-- </v-btn> -->
    <!-- </template>
                                    <span>View</span>
                                </v-tooltip>
                            </template></td> -->
    <!-- </tr>
            </tbody>
          </table> -->
  </div>
</template>

<script>
import axios from "axios";
export default {
  name: "History",
  data() {
    return {
      isLoaded: true,
      eventNames: [],
    };
  },
  //       created(){
  //    this.isLoaded= false;
  // },
  mounted() {
    this.isLoaded = false;
    this.getteamData();
  },
  methods: {
    showTeam(item) {
      // console.log(item)
      let id = item._id;
      // console.log(id);
      this.$router.push({
        name: "HistoryTeam",
        query: {
          action: "single team",
          id: id,
        },
      });
    },
    getteamData() {
      axios
        .get("http://localhost:5000/getteams/eventendedteam")
        .then((response) => {
          this.eventNames = response.data.data;
          // console.log(this.eventNames, "mmmmm");
        })
        .catch((err) => {
          console.log(err);
        });
    },
  },
};
</script>

<style scoped>
.eventHeading {
  position: relative;
  font-size: 30px;
  color: #424040;
  font-family: "Montserrat", sans-serif;
  transform: translateX(38px);
}
.butn {
  float: right;
}
table {
  border-collapse: collapse;
  width: 100%;
}

table tr {
  border: darken(#f8f8f8, 10%);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  margin: 0px;
  height: 50px;
}

table th,
table td {
  text-align: center;
  padding: 5px;
}

tr {
  padding: 2px;
  margin: 2px;
  height: 50px;
}

th {
  background-color: rgb(183, 184, 182);
}
.imageRadius {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

/* tr:hover {
    background-color: rgb(183, 184, 182);
} */
</style>
