<template>
  <div style="margin-top:10px">
    <div id="app" v-if="isLoaded">
      <v-app>
        <v-layout align-center justify-space-around wrap>
          <div class="pa-3">
            <v-progress-circular
              color="primary"
              indeterminate
              :size="64"
            ></v-progress-circular>
          </div>
        </v-layout>
      </v-app>
    </div>
    <div class="d-flex">
      <div>
        <v-tooltip right>
          <template v-slot:activator="{ on, attrs }">
            <v-icon
              color="#664E88"
              @click="Goback"
              class="icon-hover"
              cols="12"
              sm="2"
              md="2"
              v-bind="attrs"
              v-on="on"
              large
            >
              mdi-chevron-left
            </v-icon>
          </template>
          <span>Back</span>
        </v-tooltip>
      </div>
      <div v-for="team in result" :key="team.id" class="eventHeading">
        {{ team.event_name.charAt(0).toUpperCase() + team.event_name.slice(1) }}
      </div>
    </div>

    <div>
      <v-container>
        <v-row class="pt-4 ml-1" md="12">
          <h4 class="ml-2">Team name :</h4>
          <span class="ml-2">{{
            team_name.charAt(0).toUpperCase() + team_name.slice(1)
          }}</span>
        </v-row>
        <div class="pt-4" md="12">
          <div v-for="team in result" :key="team.id">
            <h4 class="ml-3">Description:</h4>
            <div   >
            <p v-html="team.description"
              class="ml-3"
              style="text-indent: 50px; word-break: break-word;    margin-left: 20px;"
            >
              {{ team.description }}
            </p></div>
          </div>
        </div>
        <div class="pt-4" md="12">
          <div class="ml-3">
            <h4>Rules:</h4>
            <div v-for="(event, i) in tEvent_rules" :key="i" class="ml-3">
              <span>{{ i + 1 }}. </span>
              <span style="word-break: break-word;">{{ event }}</span>
            </div>
          </div>
        </div>
        <v-row style="margin-top:20px">
          <v-col md="12" class="ml-3">
            <table>
              <thead>
                <tr>
                  <th>Sl no</th>
                  <th class="text-left">Team members</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="(item, index) in particularTeam" :key="index">
                  <td>{{ index + 1 }}</td>
                  <td class="text-left">
                    {{ item.name.charAt(0).toUpperCase() + item.name.slice(1) }}
                  </td>
                </tr>
              </tbody>
            </table>
          </v-col>
        </v-row>
        <v-row class="pt-4" md="12">
          <v-col>
            <div v-if="isRating == false || isRating == 'false'">
              <v-card height="50" style="width:100%">
                <v-list-item>
                  <v-rating
                    v-model="rating"
                    color="red lighten-3"
                    background-color="grey lighten-1"
                    large
                  ></v-rating>
                  <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn
                      color="blue darken-1"
                      class="mr-2"
                      text
                      @click="postrating"
                      >Rate
                    </v-btn>
                  </v-card-actions>
                </v-list-item>
              </v-card>
            </div>
            <div v-else>
              <v-card
                style="width:100%"
                height="50"
                color="light-green accent-1"
              >
                <div style="text-align: center; padding: 14px">
                  Team rating: {{ teamRating }} out of 5 star
                </div>
              </v-card>
            </div>
          </v-col>
        </v-row>
      </v-container>
    </div>
  </div>
</template>

<script>
import axios from "axios";
export default {
  name: "TeamRating",
  data() {
    return {
      isLoaded: true,
      particularTeam: [],
      rating: null,
      result: [],
      readRating: true,
      teamRating: "",
      eTeam_name: [],
      team_name: "",
      event_rules: [],
      tEvent_rules: [],
      isRating: false,
    };
  },
  created() {
    //    this.isLoaded= false;
    this.isRating = this.$route.query.rating;
    // console.log(this.isRating, 'hhhh');
  },
  mounted() {
    // console.log(this.isRating, 'llll');
    // console.log(this.$route.query.rating, 'pppp')
    this.isLoaded = false;
    // console.log(this.$route.query.id);
    // console.log(this.$route.query.event);
    // console.log(this.readRating);
    this.getTeamMembersById();
    // console.log(this.result);
  },
  methods: {
    genColor(i) {
      this.rating = i + 1;
    },
    Goback() {
      this.$router.push({
        name: "HistoryTeam",
        query: {
          id: this.$route.query.event,
        },
      });
    },
    getTeamMembersById() {
      axios
        .get(
          `http://localhost:5000/getteammembers/getteammembersbyid/${this.$route.query.event}/${this.$route.query.id}`
        )
        .then((response) => {
          // console.log("data", response)
          this.result.push(response.data.team);
          // console.log(this.result);
          this.event_rules.push(response.data.team);
          let tRating = [];
          tRating.push(response.data.foundIndex);
          tRating.map((ele) => {
            // console.log(ele);
            this.teamRating = ele.team_rating;
            //    this.particularTeam.push(ele.team_member)
          });
          this.event_rules.map((element) => {
            // console.log(element.event_rules);
            let arr = element.event_rules;
            arr.map((ele) => {
              // console.log(ele.Rules);
              this.tEvent_rules.push(ele.Rules);
            });
          });
          this.eTeam_name.push(response.data.foundIndex);
          // console.log(this.eTeam_name);
          this.eTeam_name.map((ele) => {
            // console.log(ele.team_name);
            this.team_name = ele.team_name;
          });

          let result1 = response.data.foundIndex;
          // console.log(result1);
          this.particularTeam = result1.team_member;
          // console.log(this.particularTeam, "kkk");
        });
    },
    postrating() {
      let ratingteam = {
        teamRating: this.rating,
      };
      if (this.rating != null) {
        axios
          .post(
            `http://localhost:5000/postteamrating/postteamratingtoDb/${this.$route.query.event}/${this.$route.query.id}`,
            {
              ratingteam,
            }
          )
          .then((response) => {
            // console.log(response, "zzzz");
            if (response.status == 200) {
              // console.log(this.readRating);
              this.readRating = false;
              this.$router.push({
                name: "HistoryTeam",
                query: {
                  id: this.$route.query.event,
                },
              });
            }
          });
      } else {
        console.log("close");
      }
    },
  },
};
</script>

<style scoped>
.eventHeading {
  font-size: 25px;
  font-family: "Montserrat", sans-serif !important;
}
.butn {
  float: right;
}

.demo {
  text-align: center;
  font-weight: bold;
  font-size: 18px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

table tr {
  border: darken(#f8f8f8, 10%);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  margin: 0px;
  height: 50px;
}

table th,
table td {
  text-align: center;
  padding: 5px;
}

tr {
  padding: 2px;
  margin: 2px;
  height: 50px;
}

th {
  background-color: rgb(183, 184, 182);
}
</style>
