<template>
  <v-app-bar  app clipped-left clipped-right class="elevation-1 white" >
    <!-- <v-toolbar-title>Topics</v-toolbar-title> -->
    <router-link to="/events">
      <img
       style="margin-left: 3rem"
        width="70px"
        height="54px"
        src="../../assets/ND-logo.png"
        class="mt-2"
      />
    </router-link>
    <v-app-bar-nav-icon
      style="margin-left: 5.5rem"
      @click="  $vuetify.breakpoint.smAndDown
            ? setSidebarDrawer(!Sidebar_drawer)
            : $emit('input', !value)"
    ></v-app-bar-nav-icon>
    <v-spacer></v-spacer>
    <v-tooltip left>
      <template v-slot:activator="{ on }">
        <v-btn dark icon v-on="on"  @click="signOut">
          <!-- <v-avatar size="40"> -->
            <v-icon size="35" color="#464d48">mdi-power-standby </v-icon>
          <!-- </v-avatar> -->
        </v-btn>
      </template>
      <span>Logout</span>
    </v-tooltip>
    <v-dialog v-model="logoutDialog" max-width="500px">
      <v-card>
        <v-card-title>
          <div>Are you sure you want to logout?</div>
        </v-card-title>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" text @click="logoutBox"> No </v-btn>
          <v-btn color="blue darken-1" @click="logoutBox"> Yes </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-app-bar>
</template>

<script>
import firebase from "firebase";
import { mapState, mapMutations } from "vuex";
export default {
  
  name: "Header",
  props: {
    value: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      // showLogo: true,
      logoutDialog: false,
      showSearch: false,
      userprofile: [
        {
          title: "Logout",
        },
      ],
      href() {
        return undefined;
      },
    };
  },
  computed: {
  ...mapState(["Sidebar_drawer"]),
  },
  methods: {
    ...mapMutations({
      setSidebarDrawer: "SET_SIDEBAR_DRAWER",
    }),
    showhideBar() {
      //   console.log('kkkk');
    },
    setSideBarTrue() {
      this.$store.commit("SET_SIDEBAR_DRAWER", 1);
    },
    signOut() {
      this.logoutDialog = true;
      // firebase
      //     .auth()
      //     .signOut()
      //     .then(() => {
      //         this.$router.replace({
      //             name: "Login"
      //         });
      //     });
    },
    logoutBox(event) {
      // console.log(event.target.innerText);
      if (event.target.innerText == "YES") {
        firebase
          .auth()
          .signOut()
          .then(() => {
            localStorage.removeItem("user")
            this.$router.replace({
              name: "Login",
            });
          });
      }
      this.logoutDialog = false;
    },
  },
  mounted() {
    this.setSideBarTrue();
  },
};
</script>

<style>
</style>
