<template>
  <div style="margin-top:10px">
    <div id="app" v-if="isLoaded">
      <v-app>
        <v-layout align-center justify-space-around wrap>
          <div class="pa-3">
            <v-progress-circular
              color="primary"
              indeterminate
              :size="64"
            ></v-progress-circular>
          </div>
        </v-layout>
      </v-app>
    </div>
    <div class="d-flex" >
      <div>
        <v-tooltip right>
          <template v-slot:activator="{ on, attrs }">
            <v-icon
              color="#664E88"
              @click="Goback"
              class="ml-1 icon-hover"
              cols="12"
              sm="2"
              md="2"
              v-bind="attrs"
              v-on="on"
              large
            >
              mdi-chevron-left
            </v-icon>
          </template>
          <span>Back</span>
        </v-tooltip>
      </div>
      <div
        v-for="item in particularTeam"
        :key="item.team_id"
        class="eventHeading"
      >
        <!-- {{item}} -->
        {{ item.event_name.charAt(0).toUpperCase() + item.event_name.slice(1) }}
      </div>
    </div>
    <div>
      <v-container>
        <div>
          <div v-for="item in particularTeam" :key="item.id">
            <h4 class="ml-3">Description:</h4>
            <p v-html="item.description" class="ml-3" style="text-indent: 10px; word-break: break-word;  margin-left:20px">
              {{ item.description }}
            </p>
          </div>
        </div>
        <div class="pt-4" md="12">
          <div>
            <h4 class="ml-3">Rules:</h4>
            <div v-for="(event, i) in tEvent_rules" :key="i" class="ml-4">
              <span>{{ i + 1 }}. </span>
              <span style="word-break: break-word;">{{ event }}</span>
            </div>
          </div>
        </div>
        <div style="margin-top:20px" class="ml-3">
          <table v-for="item in particularTeam" :key="item.team_id">
            <!-- <caption
              style="
            font-weight: bold;
            font-size: 30px;
            border: darken(#f8f8f8, 10%);
            box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
            background-color:#DCE775 ;
            text-transform: uppercase;
          "
            >
              {{
                item.event_name
              }}
            </caption> -->
            <thead>
              <!-- <tr class="border-bottom">
                <th scope="col"><span class="ml-2">Sl no</span></th>
                <th scope="col" class="text-left">
                </th>
                <th scope="col" class="text-left">
                  <span class="ml-2">Team leader</span>
                </th>
                <th scope="col"><span class="ml-4">View team members</span></th>
              </tr> -->
            </thead>
            <tbody v-for="(team, index) in item.teams" :key="index">
              <tr > 
                <!-- {{team}} -->
                <!-- <v-btn width="300" height="60px" > -->
                  <td  class="tablebtn" :style="{ color: arr[index] }">
                    <span class="team"  >Team </span> 
                    {{ team.team_name }}
                  </td>
                  <!-- </v-btn
                > -->
                <td class="text-center">
                  <!-- <v-img
                    :src="require('@/assets/noun-cap.svg')"
                    height="20px"
                    width="34px"
                    :style="{ color: arr[index] }"
                  ></v-img> -->
                  <!-- <v-icon large :style="{ color: arr[index] }">mdi-data-matrix-scan</v-icon> -->
                      <v-icon large :style="{ color: arr[index] }">mdi-account-hard-hat</v-icon>
                </td>
                <td class="text-left">
                  {{
                    team.team_captain.charAt(0).toUpperCase() +
                      team.team_captain.slice(1)
                  }}
                </td>
                <td class="p-2">
                  <template>
                    <v-tooltip left>
                      <template v-slot:activator="{ on, attrs }">
                        <v-icon
                          @click="showTeamList(team)"
                          size="50"
                          v-on="on"
                          v-bind="attrs"
                          color="#464d48"
                          >mdi-account-group
                        </v-icon>
                      </template>
                      <span>Team</span>
                    </v-tooltip>
                  </template>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </v-container>
    </div>
  </div>
</template>

<script scoped>
import axios from "axios";
export default {
  data() {
    return {
      isLoaded: true,
      arr: [
        "#FF6663",
        "#FEB144",
        "#A4A7AB",
        "#9EE09E",
        "#9EC1CF",
        "#8283B7",
        "#CC99C9",
      ],
      eventObject: {},
      // description:"",
      particularTeam: [],
      event_rules: [],
      tEvent_rules: [],
    };
  },
  // created(){
  //    this.isLoaded= false;
  // },
  mounted() {
    // console.log(this.$route.query.id)
    this.isLoaded = false;
    this.getTeamById();
    // this.getteamData();
  },
  methods: {
    Goback() {
      this.$router.push({
        name: "Events",
      });
    },
    showTeamList(team) {
      // console.log(team);
      let id = team.team_id;
      this.$router.push({
        name: "Teams",
        query: {
          action: "team members",
          id: id,
          event: this.$route.query.id,
        },
      });
    },
    //
    getTeamById() {
      axios
        .get(
          `http://localhost:5000/getteam/getteamsbyid/${this.$route.query.id}`
        )
        .then((response) => {
          console.log("data", response.data.data);
          this.particularTeam.push(response.data.data);
          // console.log(response.data.data.event_rules);
          this.event_rules.push(response.data.data);
          this.event_rules.map((element) => {
            // console.log(element.event_rules);
            let arr = element.event_rules;
            arr.map((ele) => {
              // console.log(ele.Rules);
              this.tEvent_rules.push(ele.Rules);
            });
          });
          // console.log(this.particularTeam, 'uuuu');
        });
    },
    endEvent(event) {
      this.eventObject = event;
    },
    dialogBox(event) {
      if (event.target.innerText == "YES") {
        // console.log(this.eventObject._id);
        axios
          .put(`http://localhost:5000/edit/editteam/${this.eventObject._id}`)
          .then((response) => {
            console.log(response, "kkk");
          });
      }

      this.eventEnddialog = false;
    },
  },
};
</script>

<style scoped>
.eventHeading {
  font-size: 25px;
  font-family: "Montserrat", sans-serif !important;
}
.tablebtn{
  text-align: left; 
  padding-left: 40px;
}
.butn1 {
  float: right;
}
p {
  word-break: break-word;
}

table {
  width: 100%;
}
.team {
  color: black;
  padding-right: 10px;
}

table tr {
  padding: 20px;
  /* margin: 30px; */
  /* border: darken(#f8f8f8, 10%); */
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  /* margin: 30px;
  height: 50px; */
}

table th,
table td {
  text-align: center;
  padding: 5px;
  margin: 5px;
}

tr {
  border-spacing: 80px;
  /* padding: 2px;
  margin: 2px;
  height: 50px; */
}

th {
  background-color: rgb(183, 184, 182);
}
.teamname {
  text-align: left !important;
  justify-content: left !important;
}
td {
  margin: 10px;
}
/* tr:hover {
    background-color: rgb(183, 184, 182);
} */
</style>
