<template>
  <div>
    <div id="app" v-if="isLoaded">
      <v-app>
        <v-layout align-center justify-space-around wrap>
          <div class="pa-3">
            <v-progress-circular
              color="primary"
              indeterminate
              :size="64"
            ></v-progress-circular>
          </div>
        </v-layout> </v-app
      >eventHeading
    </div>
    <div class="d-flex" style="margin-top:20px;  justify-content:space-between">
      <div class="eventHeading">
        Events
      </div>
      <div>
        <v-btn
          color="#606D8A"
          height="40px"
          @click="GenerateNdTeam"
          cols="12"
          sm="2"
          md="2"
          class="butn"
          dark
          ><v-icon class="iconGeneratebtn">mdi-page-next-outline</v-icon>
          Generate Team
        </v-btn>

        <!-- :style="{ transform: 'translateX(4%)' }"
          :style="{ transform: 'translateX(340%)' }" -->
      </div>
    </div>
    <div>
      <template>
        <v-row style="margin-left: 26px; margin-top:10px">
          <v-col
            cols="12"
            md="4"
            sm="4"
            v-for="(item, index) in eventNames"
            :key="index"
            @click="showTeam(item)"
          >
            <template>
              <v-card
                class="ssss "
                max-width="344"
                style="cursor: pointer;  border-radius:20px; padding:px"
              >
                <v-img
                  :src="require('@/assets/' + item.event_img)"
                  height="200px"
                  class="imageRadius"
                  width="344px"
                ></v-img>

                <v-card-actions>
                  <v-icon class="mt-2 ml-6">mdi-calendar-week</v-icon
                  ><span class="mr-4 ml-4 mt-4 mb-2">{{
                    item.start_date | formatDate
                  }}</span>
                  <v-icon class="mt-2">mdi-arrow-collapse-right</v-icon
                  ><span class="mr-4 ml-4 mt-4 mb-2">{{
                    item.end_date | formatDate
                  }}</span>
                </v-card-actions>

                <v-card-title>
                  <div class="mx-auto">
                    {{
                      item.event_name.charAt(0).toUpperCase() +
                        item.event_name.slice(1)
                    }}
                  </div>
                  <div>
                    <template>
                      <v-tooltip left>
                        <template v-slot:activator="{ on, attrs }">
                          <!-- <v-btn @click="endEvent(item)" color="danger" v-on="on" v-bind="attrs" cols="12" sm="2" md="2" class="mr-2" dark rounded> -->
                          <v-icon
                            @click="endEvent(item)"
                            color="red"
                            class="mr-2 icon-hover"
                            v-on="on"
                            v-bind="attrs"
                            large
                            >mdi-stop-circle-outline</v-icon
                          >
                          <!-- </v-btn> -->
                        </template>
                        <span>End</span>
                      </v-tooltip>
                    </template>
                  </div>
                </v-card-title>
              </v-card>
            </template>
          </v-col>
        </v-row>
      </template>
    </div>
    <v-dialog v-model="eventEnddialog" max-width="500px">
      <v-card>
        <v-card-title>
          <div>Are you sure you want to end this event?</div>
        </v-card-title>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" text @click="dialogBox">
            No
          </v-btn>
          <v-btn color="blue darken-1" @click="dialogBox"> Yes </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-snackbar v-model="snackbar">
      {{ textValue }}
    </v-snackbar>
  </div>
</template>

<script scoped>
import axios from "axios";
export default {
  data() {
    return {
      isLoaded: true,
      eventEnddialog: false,
      eventNames: [],
      event_name: "",
      eventObject: {},
      textValue: "Event ended",
      snackbar: false,
    };
  },
  created() {
    this.isLoaded = false;
    this.getteamData();
    // this.getjsonData()
  },
  // mounted() {
  //     this.getteamData();
  //     this.getjsonData()
  // },
  methods: {
    GenerateNdTeam() {
      this.$router.push({
        name: "GenerateTeam",
      });
    },
    showTeam(item) {
      if (!this.eventEnddialog) {
        let id = item._id;
        this.$router.push({
          name: "EventTeam",
          query: {
            action: "single team",
            id: id,
          },
        });
      }
    },
    getteamData() {
      axios
        .get("http://localhost:5000/getteam/getteamsfromDb")
        .then((response) => {
          // console.log(result, 'hhhhh');
          this.eventNames = response.data.data;
          this.isLoaded = false;
          // console.log(output);
          // this.isLoaded = false;
        });
    },
    endEvent(event) {
      console.log("hello");
      this.eventObject = event;
      // console.log(event);
      this.eventEnddialog = true;
      // console.log(this.eventObject, 'zzzz');
    },
    dialogBox(event) {
      this.getteamData();
      console.log(event.target.innerText);
      if (event.target.innerText == "YES") {
        console.log(this.eventObject._id);
        axios
          .put(`http://localhost:5000/edit/editteam/${this.eventObject._id}`)
          .then((response) => {
            console.log(response, "kkk");
            // this.getteamData();
            this.snackbar = true;
            // this.$router.push({path:"/events"})
          });
        this.getteamData();
        this.snackbar = true;
      }
      // this.getteamData();
      this.eventEnddialog = false;
    },
    // getjsonData(){
    //      axios
    //         .get("http://localhost:5000/getemployees/getEmployeesDetails")
    //         .then((response) => {
    //             console.log(response,'000000000000000');
    //         })
    //         .catch((err)=>{
    //             console.log(err,'errrr');
    //         })

    // }

    // getjsonData() {
    //     //    axios
    //     //         .get("https://admin.googleapis.com/")
    //     //         .then((response) => {console.log(response);})
    //     fetch('https://www.googleapis.com', {
    //             method: 'GET', // or 'PUT'
    //             headers: {
    //                 'Accept': 'application/json',
    //                 'Content-Type': 'application/json'

    //             },
    //         })
    //         .then(response => response.json())
    //         .then(data => {
    //             console.log('Success:', data);
    //         })
    //         .catch((error) => {
    //             console.error('Error:', error);
    //         });

    // },
  },
};
</script>

<style scoped>
.butn {
  font-family: "Montserrat", sans-serif !important;
  margin-right: 30px;
}
/* padding: 40px; */
/* margin: 0px !important;
  position: absolute;
  float: right;
  font-family: "Montserrat", sans-serif !important;
  transform: translateX(862px) ;
} */

.butn1 {
  float: right;
}

table {
  border-collapse: collapse;
  width: 100%;
}
.iconGeneratebtn {
  /* padding: 16px; */
  padding-right: 10px;
}
table tr {
  border: darken(#f8f8f8, 10%);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  margin: 0px;
  height: 50px;
}
.imageRadius {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

table th,
table td {
  text-align: center;
  padding: 5px;
}

tr {
  padding: 2px;
  margin: 2px;
  height: 50px;
}

th {
  background-color: rgb(183, 184, 182);
}
.eventHeading {
  /* position: relative; */
  margin-left: 36px;
  font-size: 30px;
  color: #424040;
  font-family: "Montserrat", sans-serif;
  /* transform: translateX(38px); */
}

/* tr:hover {
    background-color: rgb(183, 184, 182);
} */
/* icon-hover:hover{
    background-color: rgb(236, 148, 148);
} */
</style>
