<template>
  <div style="margin-top:10px">
    <div id="app" v-if="isLoaded" >
      <v-app>
        <v-layout align-center justify-space-around wrap>
          <div class="pa-3">
            <v-progress-circular
              color="primary"
              indeterminate
              :size="64"
            ></v-progress-circular>
          </div>
        </v-layout>
      </v-app>
    </div>
    <div class="d-flex">
      <div>
        <v-tooltip right>
          <template v-slot:activator="{ on, attrs }">
            <v-icon
              color="#664E88"
              @click="Goback"
              class="icon-hover"
              cols="12"
              sm="2"
              md="2"
              v-bind="attrs"
              v-on="on"
              large
            >
              mdi-chevron-left
            </v-icon>
          </template>
          <span>Back</span>
        </v-tooltip>
      </div>
      <div v-for="team in result" :key="team.id" class="eventHeading">
        {{ team.event_name.charAt(0).toUpperCase() + team.event_name.slice(1) }}
      </div>
    </div>

    <div>
      <v-container>
        <v-row class="pt-4 ml-1" md="12">
          <h4 class="ml-2">Team name :</h4>
          <span class="ml-2" >{{
            team_name.charAt(0).toUpperCase() + team_name.slice(1)
          }}</span>
        </v-row>
        <div class="pt-4" md="12">
          <div   v-for="team in result"
              :key="team.id"
             >
            <h4 class="ml-3">Description:</h4>
            <p
             v-html="team.description"
            class="ml-3"
              style="text-indent: 10px; word-break: break-word;  margin-left:20px"
            >
              {{ team.description }}
            </p>
          </div>
        </div>
        <v-row class="pt-4" md="12">
          <div class="ml-3">
            <h4 class="ml-3">Rules:</h4>
            <div v-for="(event, i) in tEvent_rules" :key="i" class="ml-4">
              <span>{{ i + 1 }}. </span>
              <span style="word-break: break-word;">{{ event }}</span>
            </div>
          </div>
        </v-row>
        <v-row style="margin-top:20px" class="ml-1">
          <v-col md="12">
            <table>
              <thead>
                <tr>
                  <th>Sl no</th>
                  <th class="text-left">Team members</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="(item, index) in particularTeam" :key="index">
                  <td>{{ index + 1 }}</td>
                  <td class="text-left">
                    {{ item.name.charAt(0).toUpperCase() + item.name.slice(1) }}
                  </td>
                </tr>
              </tbody>
            </table>
          </v-col>
        </v-row>
      </v-container>
    </div>
  </div>
</template>

<script>
import axios from "axios";
export default {
  data() {
    return {
      isLoaded: true,
      particularTeam: [],
      result: [],
      eTeam_name: [],
      team_name: "",
      event_rules: [],
      tEvent_rules: [],
    };
  },
  //   created(){
  //    this.isLoaded= false;
  // },
  mounted() {
    // console.log(this.$route.query.id)
    // console.log(this.$route.query.event)
    this.getTeamMembersById();
    this.isLoaded = false;
  },
  methods: {
    Goback() {
      this.$router.push({
        name: "EventTeam",
        query: {
          id: this.$route.query.event,
        },
      });
    },
    getTeamMembersById() {
      axios
        .get(
          `http://localhost:5000/getteammembers/getteammembersbyid/${this.$route.query.event}/${this.$route.query.id}`
        )
        .then((response) => {
          // console.log("data", response)
          this.result.push(response.data.team);
          this.event_rules.push(response.data.team);
          // console.log(this.event_rules);
          let result1 = response.data.foundIndex;
          // let eTeam_name=[]
          this.eTeam_name.push(response.data.foundIndex);
          // console.log(this.eTeam_name);
          this.eTeam_name.map((ele) => {
            // console.log(ele.team_name);
            this.team_name = ele.team_name;
          });
          this.event_rules.map((element) => {
            // console.log(element.event_rules);
            let arr = element.event_rules;
            arr.map((ele) => {
              // console.log(ele.Rules);
              this.tEvent_rules.push(ele.Rules);
            });
          });

          for (const [key, value] of Object.entries(result1)) {
            console.log(key, value);
            // let keys = key
            this.particularTeam = value;
          }
        });
    },
  },
};
</script>

<style scoped>
.butn {
  float: right;
}
.eventHeading {
  font-size: 25px;
  font-family: "Montserrat", sans-serif !important;
}
table {
  border-collapse: collapse;
  width: 100%;
}

table tr {
  border: darken(#f8f8f8, 10%);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  margin: 0px;
  height: 50px;
}

table th,
table td {
  text-align: center;
  padding: 5px;
}

tr {
  padding: 2px;
  margin: 2px;
  height: 50px;
}

th {
  background-color: rgb(183, 184, 182);
}
</style>
