<template>
  <div style="margin-top:10px">
    <div id="app" v-if="isLoaded">
      <v-app>
        <v-layout align-center justify-space-around wrap>
          <div class="pa-3">
            <v-progress-circular
              color="primary"
              indeterminate
              :size="64"
            ></v-progress-circular>
          </div>
        </v-layout>
      </v-app>
    </div>
    <div class="d-flex">
      <div>
        <v-tooltip right>
          <template v-slot:activator="{ on, attrs }">
            <v-icon
              color="#664E88"
              @click="Goback"
              class="ml-1 icon-hover"
              cols="12"
              sm="2"
              md="2"
              v-bind="attrs"
              v-on="on"
              large
            >
              mdi-chevron-left
            </v-icon>
          </template>
          <span>Back</span>
        </v-tooltip>
      </div>
      <div class="generateHeading">Generate Event Team Members</div>
    </div>
    <div>
      <v-container>
        <v-card>
          <v-card-text>
            <!-- <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="#664E88" dark @click="postJsondata()">
                        Generate
                    </v-btn>
                </v-card-actions> -->
            <v-container>
              <!-- <v-form ref="inputFile"> -->
              <v-row>
                <v-col cols="12" sm="12" md="12">
                  <v-text-field
                    class="generateLabel"
                    label="Event Name"
                    v-model="event"
                    :rules="eventName"
                    required
                  ></v-text-field>
                </v-col>
                <!-- <v-col cols="12" sm="6" md="6">
                  <v-text-field
                    label="Total Number of Teams"
                    type="number"
                    v-model="total_team"
                    :rules="number_of_team"
                    hint="number of players can be in even or odd"
                    required
                    disabled
                  ></v-text-field>
                </v-col> -->

                <v-col cols="12" sm="6" md="6" class="m-4">
                  <v-menu
                    ref="menu"
                    v-model="menu"
                    :close-on-content-click="false"
                    transition="scale-transition"
                    offset-y
                    min-width="auto"
                  >
                    <template v-slot:activator="{ on, attrs }">
                      <v-text-field
                        class="generateLabel"
                        v-model="date"
                        label="Start Date"
                        readonly
                        v-bind="attrs"
                        v-on="on"
                        required
                      ></v-text-field>
                    </template>
                    <v-date-picker
                      v-model="date"
                      :active-picker.sync="activePicker"
                      :min="new Date().toISOString().substr(0, 10)"
                      @change="menu = false"
                    ></v-date-picker>
                  </v-menu>
                </v-col>
                <v-col cols="12" sm="6" md="6" class="m-4">
                  <v-menu
                    ref="menu"
                    v-model="menu1"
                    :close-on-content-click="false"
                    transition="scale-transition"
                    offset-y
                    min-width="auto"
                  >
                    <template v-slot:activator="{ on, attrs }">
                      <v-text-field
                        class="generateLabel"
                        v-model="date1"
                        label="End Date"
                        readonly
                        v-bind="attrs"
                        v-on="on"
                        required
                      ></v-text-field>
                    </template>
                    <v-date-picker
                      v-model="date1"
                      :active-picker.sync="activePicker"
                      :min="new Date().toISOString().substr(0, 10)"
                      @change="menu1 = false"
                    ></v-date-picker>
                  </v-menu>
                </v-col>

                <v-col cols="12" sm="12" md="12">
                  <label for="" class="generateLabel">Description</label>
                  <ckeditor
                    class="generateLabel"
                    :editor="editor"
                    v-model="description"
                    :config="editorConfig"
                  ></ckeditor>
                  <!-- <v-textarea label="Description" auto-grow  rows="1" v-model="description" row-height="15"></v-textarea> -->
                </v-col>
              </v-row>

              <v-row>
                <v-col cols="12" sm="12" md="12">
                  <!-- Rules -->
                  <v-row
                    class="form-group"
                    v-for="(input, k) in EventRules"
                    :key="k"
                  >
                    <v-col cols="11" sm="11" md="11">
                      <v-text-field
                        type="text"
                        class="form-control"
                        label="Rules"
                        v-model="input.Rules"
                      >
                      </v-text-field>
                    </v-col>
                    <v-col cols="12" sm="1" md="1">
                      <span>
                        <v-tooltip bottom>
                          <template v-slot:activator="{ on }">
                            <v-icon
                              v-on="on"
                              color="red"
                              class="mt-4"
                              @click="remove(k)"
                              v-show="k || (!k && EventRules.length > 1)"
                              >mdi-close-circle</v-icon
                            >
                          </template>
                          <span>Remove</span>
                        </v-tooltip>
                        <v-tooltip bottom>
                          <template v-slot:activator="{ on }">
                            <v-icon
                              v-on="on"
                              color="green"
                              class="mt-4"
                              @click="add(k)"
                              v-show="k == EventRules.length - 1"
                              >mdi-plus</v-icon
                            >
                          </template>
                          <span>Add</span>
                        </v-tooltip>
                      </span>
                    </v-col>
                  </v-row>
                </v-col>
                <v-col cols="12" sm="6" md="6">
                  <!-- <v-file-input
                    v-model="event_img"
                    @change="fileSelected"
                    label="Upload event image"
                    multiple
                    prepend-icon="mdi-paperclip"
                  >
                  </v-file-input> -->
                  <input ref="files" type="file" hidden @change="uploadImage" />
                  <v-btn class="generateLabel" style="margin-left: 80%;">
                    <v-icon grey left large @click="uploadImage">
                      mdi-tray-arrow-up </v-icon
                    >Upload Image
                  </v-btn>
                </v-col>
              </v-row>
            </v-container>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn
              color="#664E88"
              dark
              @click="getConfirmation()"
              cols="12"
              sm="2"
              md="2"
              class="mr-4 mb-4 generateLabel"
            >
              Generate
            </v-btn>
            <v-btn
              color="#664E88"
              dark
              @click="postTeams()"
              cols="12"
              sm="2"
              md="2"
              class="mr-4 mb-4 generateLabel"
            >
              Generate
            </v-btn>
          </v-card-actions>
        </v-card>
        <v-snackbar v-model="snackbar">
          {{ textValue }}
        </v-snackbar>
      </v-container>
    </div>
  </div>
</template>

<script>
import ClassicEditor from "@ckeditor/ckeditor5-build-classic";
import axios from "axios";
import _ from "lodash";
// import teamsJson from "./../teams.json";
export default {
  props: {},
  data() {
    return {
      editor: ClassicEditor,
      editorConfig: {
        removePlugins: [
          "EasyImage",
          "ImageUpload",
          "MediaEmbed",
          "Autoformat",
          "BlockQuote",
          "CKFinder",
          "Heading",
          "Link",
          "Indent",
          "Table",
        ],
        // The configuration of the editor.
      },
      isLoaded: true,
      eventName: [(v) => !!v || "Event name must required"],
      number_of_team: [(v) => /^[1-9]{1,1}$/.test(v) || "Input Invalid"],
      total_team: 7,
      event: "",
      date: "",
      textValue: "New event created",
      snackbar: false,
      date1: "",
      EventRules: [
        {
          Rules: "",
        },
      ],
      description: [],
      event_img: [],
      totalteammembers: null,
      menu: "",
      menu1: "",
      activePicker: null,
      fileSelected: "",
    };
  },
  created() {
    this.isLoaded = false;
    this.getjsonData();
  },
  methods: {
    Goback() {
      this.$router.push({
        name: "Events",
      });
    },
    uploadImage(event) {
      console.log(event.target.files);
      this.event_img = event.target.files;
      let fileInput = this.$refs.files;
      fileInput.click();
    },
    getjsonData() {
      axios
        .get("http://localhost:5000/getemployees/getEmployeesDetails")
        .then((response) => {
          // console.log(response,'000000000000000');
          const totalT = response.data;
          //   console.log(totalT,'mmmmmmmmmmmmm');
          totalT.map((ele) => {
            //   console.log(ele.teamList,'------------');
            this.totalteammembers = ele.teamList;
            //    console.log(this.totalteammembers,'-------------');
          });
        })
        .catch((err) => {
          console.log(err, "errrr");
        });
    },
    remove(index) {
      this.EventRules.splice(index, 1);
    },
    add(index) {
      if (this.EventRules[index].Rules) {
        this.EventRules.push({
          Rules: "",
        });
      }
    },
    getConfirmation() {
      let eventDescription = this.description.replace(/<\/?[^>]+(>|$)/g, "");
      if (
        this.event &&
        this.date &&
        this.date1 &&
        eventDescription.length != 0 &&
        this.EventRules[0].Rules != ""
      ) {
        console.log(eventDescription.length, "jshahgdsghds");
        const totalteammembers = this.totalteammembers;
        const formData = new FormData();
        formData.append("files", this.event_img[0]);
        formData.append("event_name", this.event);
        formData.append("start_date", this.date);
        formData.append("end_date", this.date1);
        formData.append("description", eventDescription);
        formData.append("event_rules", JSON.stringify(this.EventRules));
        formData.append("event_status", 1);
        formData.append("members", JSON.stringify(totalteammembers));
        axios
          .post("http://localhost:5000/confirmation/getConfirmation", formData)
          .then((response) => {
            console.log(response, "hhhhh");
            // console.log( this.$router.push({name:'Events'}));
            // this.snackbar = true
            this.$router.push({
              name: "Events",
            });
            // this.$router.go(0)
            // this.$refs.inputFile.reset();
            // this.snackbar = true
          })
          .catch((err) => {
            console.log(err);
          });
      }
    },
    postTeams() {
      //  console.log(this.totalteammembers,'-------------');
      // let eventDescription = this.description.replace(/<\/?[^>]+(>|$)/g, "");
      console.log(this.description,'iii');
      let teamsInfo = [];
      // console.log(this.description,this.EventRules,'============');
      if (
        this.event!="cricket" &&
        this.date &&
        this.date1 &&
       this.description.length != 0 &&
        this.EventRules[0].Rules != ""
      ) {
        // let eventName = this.event;
        const totalteammembers = this.totalteammembers;
        // console.log(totalteammembers);
        // console.log(this.totalteammembers,'==========');
        const teamsArray = _.shuffle(totalteammembers);

        let groups = [];
        // let teamMember = [];
        let current_group = 0;
        for (var i = 0; i < teamsArray.length; i++) {
          // make sure that the group is an array
          if (!groups[current_group]) {
            groups[current_group] = [];
          }
          // add the team
          groups[current_group].push(teamsArray[i]);
          // and move to the next group
          current_group += 1;
          if (current_group >= this.total_team) {
            current_group = 0;
          }
        }

        let team_color = [
          "red",
          "orange",
          "yellow",
          "green",
          "blue",
          "indigo",
          "violet",
        ];

        groups.map((x, i) => {
          teamsInfo.push({
            team_id: i + 1,
            team_color: team_color[i],
            team_name: team_color[i],
            team_captain: x[0].name,
            team_member: groups[i],
          });
        });
        // console.log(teamsInfo, "gy")
        // const result_teams = {
        //     event_name: this.event,
        //     start_date: this.date,
        //     end_date: this.date1,
        //     description: this.description,
        //     event_rules: this.EventRules,
        //     event_status: 1,
        //     teams: teamsInfo,
        // };
        // console.log(result_teams, 'pppp');
        const formData = new FormData();
        formData.append("files", this.event_img[0]);
        formData.append("event_name", this.event);
        formData.append("start_date", this.date);
        formData.append("end_date", this.date1);
        formData.append("description", this.description);
        formData.append("event_rules", JSON.stringify(this.EventRules));
        formData.append("event_status", 1);
        formData.append("teams", JSON.stringify(teamsInfo));
        console.log(formData, "pppp");

        axios
          .post("http://localhost:5000/postteam/postteamstoDb", formData)
          .then((response) => {
            console.log(response, "hhhhh");
            // console.log( this.$router.push({name:'Events'}));
            // this.snackbar = true
            this.$router.push({
              name: "Events",
            });
            // this.$router.go(0)
            // this.$refs.inputFile.reset();
            // this.snackbar = true
          })
          .catch((err) => {
            console.log(err);
          });
      }
      if (
        this.event =="cricket" &&
        this.date &&
        this.date1 &&
        this.description.length != 0 &&
        this.EventRules[0].Rules != ""
      ) {
        const totalteammembers = this.totalteammembers;
        //   // console.log(totalteammembers);
        //   // console.log(this.totalteammembers,'==========');
        const teamsArray = _.shuffle(totalteammembers);
        const size = 11;
        const chunks = [];
        while (teamsArray.length) {
          chunks.push(teamsArray.splice(0, size));
        }
        console.log(chunks);
        let team_color = [
          "red",
          "orange",
          "yellow",
          "green",
          "blue",
          "indigo",
          "violet",
        ];
        chunks.map((x, i) => {
          teamsInfo.push({
            team_id: i + 1,
            team_color: team_color[i],
            team_name: team_color[i],
            team_captain: x[0].name,
            team_member: chunks[i],
          });
        });
        const formData = new FormData();
        formData.append("files", this.event_img[0]);
        formData.append("event_name", this.event);
        formData.append("start_date", this.date);
        formData.append("end_date", this.date1);
        formData.append("description", this.description);
        formData.append("event_rules", JSON.stringify(this.EventRules));
        formData.append("event_status", 1);
        formData.append("teams", JSON.stringify(teamsInfo));
        // console.log(formData, "pppp");
        axios
          .post("http://localhost:5000/postteam/postteamstoDb", formData)
          .then((response) => {
            console.log(response, "hhhhh");
            // console.log( this.$router.push({name:'Events'}));
            // this.snackbar = true
            this.$router.push({
              name: "Events",
            });
            // this.$router.go(0)
            // this.$refs.inputFile.reset();
            // this.snackbar = true
          })
          .catch((err) => {
            console.log(err);
          });
      }
    },
  },
};
</script>
<style scoped>
.generateHeading {
  font-size: 26px;
  font-family: "Montserrat", sans-serif !important;
}
.generateLabel {
  font-family: "Montserrat", sans-serif !important;
  font-weight: normal !important;
}
.form-control {
  font-family: "Montserrat", sans-serif !important;
  font-weight: normal !important;
}
</style>
