<template>
  <!-- <div color="#F4F4F4"> -->
  <div color="#F4F4F4">
    <v-row>
      <v-col cols="12" md="8" lg="8" xl="8">
        <!-- <img
          class="backgroundImage"
          width="60%"
          src="../assets/LogoBg-img.png"
        />
        <img class="img" width="60%" src="../assets/SportsVectors.png" /> -->
        <div>
          <div class="backgroundImage">
            <img
              class="ndImage1"
              width="60%"
              :src="require('@/assets/Login-Vector-bg-img.svg')"
            />
          </div>
          <div class="frontImage">
            <img
              class="ndImage2"
              width="60%"
              :src="require('@/assets/Login-Vector-img.svg')"
            />
          </div>
        </div>
      </v-col>
      <v-col
        cols="12"
        md="4"
        lg="4"
        xl="4"
        class="d-flex justify-center l_bgclr"
      >
        <v-row class="justify-center">
          <div>
            <img class="ndlogoImage " src="../assets/Navadhiti-logo-lg.png" />
          </div>

          <v-col cols="12" lg="8" xl="8">
            <v-btn class="loginButton" v-on:click="login"
              ><img class="img1" width="40%" src="../assets/image.png"
            /></v-btn>
            <!-- :append-icon="show1 ? 'mdi-eye' : 'mdi-eye-off'" -->
            <!-- :type="show1 ? 'text' : 'password'" -->
            <!-- @click:append="show1 = !show1" -->
            <!-- counter -->
            <!-- hint="At least 8 characters"  -->
            <!-- <v-form ref="valid">
                        <v-text-field label="Enter your email" prepend-inner-icon="mdi-account-outline" type="email" outlined :rules="emailRules" v-model="email" required>
                        </v-text-field>
                        <v-text-field label="Enter your password" @click:append="show1 = !show1"  :type="show1 ? 'text' : 'password'"  :append-icon="show1 ? 'mdi-eye' : 'mdi-eye-off'"  prepend-inner-icon="mdi-lock-outline"  outlined :rules="passwordRules" v-model="password" required>
                        </v-text-field> -->
            <!-- <v-btn  color="#664E88" v-on:click="login"  block dark>Login<v-icon>mdi-arrow-right</v-icon></v-btn> -->
            <!-- </v-form> -->
          </v-col>
        </v-row>
        <!-- </v-card> -->
        <!-- </div> -->
      </v-col>
    </v-row>
  </div>
  <!-- </div> -->
</template>

<script>
// import firebase from "firebase";
export default {
  data() {
    return {
      show1: false,
      valid: false,
      password: "",
      passwordRules: [
        (v) => !!v || "password is required",
        (v) => v.length >= 8 || "password must be  8 characters",
      ],
      email: "",
      emailRules: [
        (v) => !!v || "E-mail is required",
        (v) => /.+@.+/.test(v) || "E-mail must be valid",
      ],
    };
  },
  methods: {
    async login() {
      const googleUser = await this.$gAuth.signIn();
      console.log(googleUser);
      this.isSignIn = this.$gAuth.isAuthorized;
      console.log(this.isSignIn);
      if (this.isSignIn == true) {
        this.$router.push("/events");
      }
    },
  },
};
</script>

<style scoped>
.l_bgclr {
  background-color: #4f5b60;
  width: 100%;
  height: 100vh;
}
.mainLogin {
  background-color: #4f5b60;
}
.ndlogoImage {
  margin-top: 250px;
  width: 240px;
  height: 190px;
}
.loginButton {
  position: relative;
  margin-top: -240px;
  margin-left: 40px;
  width: 230px !important;
  height: 50px !important;
}
.img1 {
  position: absolute;
}
/* .l_col_color{
    background-color: white;
    width:100%;
    height:100vh
} */
/* .b-blr {
  color: #f4f4f4;
} */

/* *{
    background-color: #f4f4f4;
} */
/* form {
  margin: 1rem;
  padding: 1rem;
} */

/* .c-br {
  border-radius: 3% !important;
}

.heading {
  text-align: center;
  color: #2196f3;
  font-size: 30px;
  padding: 10px;
} */

/* .text {
  margin: -40px 0;
  border-radius: 50px;
} */

.backgroundImage {
  margin-top: 50px;
  display: inline-block;
}
.frontImage {
  margin-top: -400px;
  margin-left: 140px;
}
.ndImage1 {
  width: 700px;
  position: relative;
  justify-content: center !important;
  margin-left: 140px;
}
.eventLogoImage {
  justify-content: center !important;
}
.ndImage2 {
  width: 700px;
  position: absolute;
  margin-left: -8px !important;
}
.img {
  position: absolute;
  margin-top: 200px;
  margin-left: 145px;
}
</style>
